@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat+Alternates:wght@500;600;700&family=Nunito:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root {
  --orange: rgb(253, 97, 43);
  --green-light: rgb(59, 247, 209);
  --blue-light: rgb(1, 206, 255);
  --purple-light: rgb(161, 119, 255);
  --tomato: rgb(250, 88, 82);
  --pink-light: rgb(255, 109, 146);
  --green: rgb(59, 232, 176);
  --blue: rgb(26, 175, 208);
  --purple: rgb(106, 103, 206);
  --yellow: rgb(255, 185, 1);
  --pink: rgb(252, 99, 107);
  --text: rgb(46, 60, 84);
  --gray: rgb(239, 240, 241);
  --midnight: rgb(0, 32, 69);
  --dark-blue: rgb(20, 81, 183);
  --background: rgb(246, 248, 249);

  --sky-blue: rgb(65, 134, 224);
  --lilac: rgb(227, 98, 227);
  --sunflower: rgb(255, 226, 2);
  --rose-pink: rgb(252, 145, 173);
  --dark-green: rgb(93, 162, 131);
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* header */
.navbar {
  background-color: #fff;
}
.navbar-brand {
  color: var(--midnight);
  font-weight: 600;
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.nav-icon {
  color: var(--rose-pink);
}
.home {
  background-color: var(--purple-light);
}
/* home page */
h1.projects {
  color: var(--purple);
}
input[type='checkbox'] {
  accent-color: var(--midnight);
}

input.task:checked + * {
  text-decoration: line-through;
}
input .btn {
  font-size: 15px;
  border: none;
}
.btn:hover {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: var(--pink);
  border: none;
}

.btn-primary:hover {
  background-color: var(--midnight);
}

.btn-secondary {
  background-color: var(--midnight);
  color: #fff;
  outline: none;
}

.btn-secondary:hover {
  background-color: var(--yellow);
  border: none;
}

/* single project page */
.btn-project {
  color: var(--text);
}
.btn-project:hover {
  color: var(--blue);
}
.icon {
  margin-right: 5px;
}
.delete-btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.delete-icon {
  width: 25px;
  heght: 25px;
  color: #fff;
}
.delete-icon:hover {
  color: var(--midnight);
}

.trash-container {
  height: 25px;
}
button.trash-btn {
  position: absolute;
  height: 25px;
  right: 25px;
  top: 38px;
  border: none;
}
.trash-icon {
  color: var(--text);
  width: 22px;
  height: 22px;
}

.trash-icon:hover {
  color: red;
  width: 25px;
  height: 25px;
}
.btn-link {
  color: var(--pink);
  width: 200px;
}
/* .pomo-span {
  color: var(--text);
} */

/* task todocard component */
.todo-card {
  background: var(--green);
  border: none;
  color: #fff;
}
.todo-card:target {
  border-left: 0.5rem solid var(--blue);
}

.todo-card:nth-child(4n + 1) {
  background: var(--orange);
}

.todo-card:nth-child(4n + 2) {
  background: var(--yellow);
}

.todo-card:nth-child(4n + 3) {
  background: var(--blue-light);
}

/* weather card homepage */
.weather-container {
  background-color: var(--gray);
}
.weather-card {
  max-width: 20rem;
}
input.search-weather {
  border: none;
  outline: 0;
  text-align: center;
  font-size: 0.8em;
}
input.search-weather:hover:focus:active {
  cursor: text;
}
/* pomoCounter - homepage */
div.pomo-display {
  height: 150px;
  width: 120px;
}
.pomo-counter {
  display: block;
  height: 80px;
  width: 100px;
}
.icon-container {
  position: absolute;
  left: 10px;
}
.tomato-icon {
  width: 80px;
  height: 80px;
  color: var(--tomato);
  opacity: 0.9;
}
.tomato-icon:hover {
  color: var(--purple);
}
.counter {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: 30px;
  left: 30px;
}
.btn-reset {
  color: var(--dark-green);
  font-weight: bold;
}
.btn-reset:hover {
  color: var(--purple);
}

/*projectRow -home*/
.project-row {
  background: var(--green);
  border: none;
  color: #fff;
}
.project-row:hover {
  color: var(--text);
  border-bottom: 1px solid white;
}
.project-row:nth-child(5n + 1) {
  background: var(--purple);
}
.project-row:nth-child(5n + 2) {
  background: var(--pink-light);
}
.project-row:nth-child(5n + 3) {
  background: var(--orange);
}
.project-row:nth-child(5n + 4) {
  background: var(--blue);
}

a.btn-view {
  color: #fff;
}
a.bn-view:hover {
  cursor: pointer;
}

/* pomoTimer config btns -pomodoro*/
.btn-refresh {
  color: var(--text);

  border: 1px solid var(--midnight);
}
.btn-refresh:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
}

.refresh-icon {
  height: 17px;
  width: 17px;
}

.btn-play-pause:hover {
  cursor: pointer;
}
.play-icon:hover {
  fill: var(--pink);
}
/*timer display */
.main__section--title {
  position: relative;
  width: 350px;
  height: 350px;
}
.timer--label {
  color: #fff;
  position: absolute;
  left: 100px;
  top: 140px;
}
h1.time {
  font-size: 50px;
}
div.btn__section {
  position: relative;
}
.fade,
.modal-open {
  positon: relative;
}
/* tomatoCase pomodoro */
.tomato {
  color: #fd612b;
  height: 35px;
  width: 35px;
}
