@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat+Alternates:wght@500;600;700&family=Nunito:wght@700;800;900&display=swap');

:root {
  --orange: rgb(253, 97, 43);
  --green-light: rgb(59, 247, 209);
  --blue-light: rgb(1, 206, 255);
  --purple-light: rgb(161, 119, 255);
  --yellow-light: rgb(255, 210, 1);
  --pink-light: rgb(255, 109, 146);
  --green: rgb(59, 232, 176);
  --blue: rgb(26, 175, 208);
  --purple: rgb(106, 103, 206);
  --yellow: rgb(255, 185, 1);
  --pink: rgb(252, 99, 107);
  --text: rgb(46, 60, 84);
  --gray: rgb(239, 240, 241);
  --midnight: rgb(0, 32, 69);
  --dark-blue: rgb(20, 81, 183);
  --rose-pink: rgb(252, 145, 173);
  --background: rgb(246, 248, 249);
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  background-color: #fff;
}
.navbar-brand {
  color: var(--midnight);
  font-weight: 600;
  font-size: 28px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.nav-icon {
  color: var(--rose-pink);
}
.home {
  background-color: var(--purple-light);
}
//home page
h1.projects {
  color: var(--purple);
}

input.task:checked {
  background-color: var(--pink-light);
  border: none;
}

input.task:checked + * {
  text-decoration: line-through;
}

.btn {
  font-size: 15px;
  border: none;
}
.btn:hover {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: var(--pink);

  border: none;
}

.btn-primary:hover {
  background-color: var(--midnight);
}

.btn-secondary {
  background-color: var(--midnight);
  color: #fff;
}

.btn-secondary:hover {
  background-color: var(--dark-blue);
}
//project page
.btn-project {
  color: var(--text);
}
.btn-project:hover {
  color: var(--blue);
}
.icon {
  margin-right: 5px;
}
.delete-icon {
  width: 25px;
  heght: 25px;
  color: #fff;
}
.delete-icon:hover {
}

//trash button
.trash-container {
  height: 25px;
}
button.trash-btn {
  position: absolute;
  height: 25px;
  right: 25px;
  top: 38px;
}
.trash-icon {
  color: var(--text);
  width: 22px;
  height: 22px;
}

.trash-icon:hover {
  color: red;
  width: 25px;
  height: 25px;
}

.todo-card {
  background: var(--green);
  /* justify-content: space-between; */
  border: none;
  color: #fff;
  /* background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  ); */
}

.todo-card:nth-child(4n + 1) {
  background: var(--orange);
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
}

.todo-card:nth-child(4n + 2) {
  background: var(--yellow);
  /* background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100% );*/
}

.todo-card:nth-child(4n + 3) {
  background: var(--blue);
  /* background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100% );*/
}
/* weather page */
.weather-container {
  border: 2px solid var(--gray);
}
.weather-card {
  max-width: 20rem;
}
input.search-weather {
  border: none;
  outline: 0;
  border-bottom: 2px solid var(--green);
  text-align: center;
  font-size: 0.8em;
}
input.search-weather:hover:focus:active {
  cursor: text;
}
//pomodoro display
div.pomo-display {
  height: 800px;
  width: 100px;
}
.pomo-counter {
  display: block;
  height: 80px;
  width: 100px;
}
.icon-container {
  position: absolute;
  left: 10px;
}
.tomato-icon {
  width: 80px;
  height: 80px;
  color: var(--pink);
  opacity: 0.9;
}
.counter {
  position: absolute;
  color: var(--midnight);
  font-size: 25px;
  top: 30px;
  left: 42px;
}

.project-row {
  background: var(--green);
  /* justify-content: space-between; */
  border: none;
  color: #fff;
  /* background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  ); */
}

.project-row:nth-child(4n + 1) {
  background: var(--purple);
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
}

.project-row:nth-child(4n + 2) {
  background: var(--rose-pink);
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
}
.project-row:nth-child(4n + 3) {
  background: var(--yellow-light);
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
}
